<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Quixlab - Bootstrap Admin Dashboard Template by Themefisher.com</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/plugins/tables/css/datatable/dataTables.bootstrap4.min.css}" rel="stylesheet">
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div th:replace="fragments/navbarBack :: navbar"/>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div th:replace="fragments/headerBack :: header"/>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="fragments/sidebarBack :: sidebar"/>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/dashboard}"  th:text="#{label.dashboard}"></a></li>
                    <li class="breadcrumb-item active"><a href=""  th:text="#{label.niveauList}"></a></li>
                </ol>
            </div>
        </div>
        <!-- row -->



        <canvas id="barChart"></canvas>

        <script>
            // Attendez que le document HTML soit complètement chargé avant d'exécuter le script
            document.addEventListener('DOMContentLoaded', function() {
                // Utilisez AJAX pour récupérer les données JSON depuis l'URL du contrôleur
                fetch('/reglement/departements-montant-json')
                    .then(response => response.json())
                    .then(data => {
                        var results = data;
                        var departements = results.map(function(item) {
                            return item.departement;
                        });
                        var montants = results.map(function(item) {
                            return item.totalMontant;
                        });

                        // Créez le graphique à barres avec Chart.js
                        var ctx = document.getElementById('barChart').getContext('2d');
                        var barChart = new Chart(ctx, {
                            type: 'bar',
                            data: {
                                labels: departements,
                                datasets: [{
                                    label: 'Total Montant',
                                    data: montants,
                                    backgroundColor: 'rgba(54, 162, 235, 0.5)',
                                    borderColor: 'rgba(54, 162, 235, 1)',
                                    borderWidth: 1
                                }]
                            },
                            options: {
                                scales: {
                                    y: {
                                        beginAtZero: true
                                    }
                                },
                                responsive: true,
                                plugins: {
                                    legend: {
                                        position: 'top',
                                    },
                                    title: {
                                        display: true,
                                        text: 'Total Montant par Département'
                                    }
                                }
                            }
                        });
                    })
                    .catch(error => console.error('Error fetching data:', error));
            });
        </script>

        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div th:replace="fragments/footerBack :: footer"/>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/tables/js/jquery.dataTables.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable/dataTables.bootstrap4.min.js}"></script>
<script th:src="@{/plugins/tables/js/datatable-init/datatable-basic.min.js}"></script>

</body>

</html>