<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>E-Shopping - Centre commercial En ligne</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">


</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div th:replace="fragments/navbarBack :: navbar"/>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div th:replace="fragments/headerBack :: header"/>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="fragments/sidebarBack :: sidebar"/>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">

<!--                    <li class="nav-item"><a class="nav-link" th:href="@{/getreglement}">afficher reglement</a></li>-->
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-validation">
                                <h1>Nouveau Règlement</h1>
                                <form th:action="@{/reglementEnseignant/add}" th:object="${reglement}" method="post">
                                    <label>titre:</label>
                                    <input type="text" th:field="*{titre}"><br>

                                    <label>année:</label>
                                    <input type="text" th:field="*{annee}"><br>

                                    <label>moisdepais:</label>
                                    <input type="text" th:field="*{moisdepais}"><br>

                                    <label>datedepaimenet:</label>
                                    <input type="text" th:field="*{datedepaimenet}"><br>

                                    <label>Matricule:</label>
                                    <input type="number" th:field="*{Matricule}"><br>

                                    <label>cin:</label>
                                    <input type="number" th:field="*{cin}"><br>

                                    <label>numcnss:</label>
                                    <input type="number" th:field="*{numcnss}"><br>

                                    <label>Categorie:</label>
                                    <input type="number" th:field="*{Categorie}"><br>

                                    <label>Echelon:</label>
                                    <input type="number" th:field="*{Echelon}"><br>

                                    <label>salairedebase:</label>
                                    <input type="number" th:field="*{salairedebase}"><br>

                                    <label>Tauxhoraire:</label>
                                    <input type="number" th:field="*{Tauxhoraire}"><br>

                                    <label>prime:</label>
                                    <input type="number" th:field="*{prime}"><br>

                                    <label>heuresuplemaentaire:</label>
                                    <input type="number" th:field="*{heuresuplemaentaire}"><br>

                                    <label>congeeAnnuel:</label>
                                    <input type="number" th:field="*{congeeAnnuel}"><br>

                                    <label>retenueCNSS:</label>
                                    <input type="number" th:field="*{retenueCNSS}"><br>

                                    <label>salairebrut:</label>
                                    <input type="number" th:field="*{salairebrut}"><br>

                                    <label>retenueCNSS:</label>
                                    <input type="number" th:field="*{retenueCNSS}"><br>

                                    <label>deductions:</label>
                                    <input type="number" th:field="*{deductions}"><br>

                                    <label>contributionsociale:</label>
                                    <input type="number" th:field="*{contributionsociale}"><br>

                                    <label>salairenet:</label>
                                    <input type="number" th:field="*{salairenet}"><br>

                                    <label>avance:</label>
                                    <input type="number" th:field="*{avance}"><br>

                                    <label>netapayer:</label>
                                    <input type="number" th:field="*{netapayer}"><br>

                                    <label>modedepaimenet:</label>
                                    <input type="text" th:field="*{modedepaimenet}"><br>


                                    <label>numcompte:</label>
                                    <input type="number" th:field="*{numcompte}"><br>


                                    <label>intitulebanque:</label>
                                    <input type="text" th:field="*{intitulebanque}"><br>


                                    <label>congeprisparmois:</label>
                                    <input type="number" th:field="*{congeprisparmois}"><br>


                                    <label>soldeconge:</label>
                                    <input type="number" th:field="*{soldeconge}"><br>


                                    <label>nombredheuredabsence:</label>
                                    <input type="number" th:field="*{nombredheuredabsence}"><br>



                                    <label for="reglement" class="col-lg-4 col-form-label" th:text="#{label.nomeleve}"></label>
                                    <div class="col-lg-6">
                                        <select name="userid" class="form-control" >
                                            <option disabled selected value> -- select an option -- </option>
                                            <option  th:each="pr: ${users}" th:value="${pr.id}" th:text="${pr.email}" />
                                        </select>
                                    </div>




                                    <input type="submit" value="Enregistrer">
                                </form>


                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>

<!--**********************************
    Content body end
***********************************-->


<!--**********************************
    Footer start
***********************************-->
<div th:replace="fragments/footerBack :: footer"/>
<!--**********************************
    Footer end
***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/validation/jquery.validate.min.js}"></script>
<script th:src="@{/plugins/validation/jquery.validate-init.js}"></script>


</body>

</html>