<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>E-Shopping - Centre commercial En ligne</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">

        /* CSS personnalisé pour le formulaire */
    <style>
        /* CSS personnalisé pour le formulaire */
        .form-group.row {
            margin-bottom: 15px;
        }
    </style>
</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div th:replace="fragments/navbarBack :: navbar"/>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div th:replace="fragments/headerBack :: header"/>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="fragments/sidebarBack :: sidebar"/>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">

<!--                    <li class="nav-item"><a class="nav-link" th:href="@{/getreglement}">afficher reglement</a></li>-->
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-validation">
                                <h1>Nouveau Règlement</h1>
                                <div class="form-container">
                                   <!-- <form th:action="@{/reglementEnseignant/add}" th:object="${reglement}" method="post">
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Titre:</label>
                                                <input type="text" class="form-control" th:field="*{titre}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Année:</label>
                                                <input type="text" class="form-control" th:field="*{annee}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Mois de paiement:</label>
                                                <input type="text" class="form-control" th:field="*{moisdepais}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Date de paiement:</label>
                                                <input type="text" class="form-control" th:field="*{datedepaimenet}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Matricule:</label>
                                                <input type="number" class="form-control" th:field="*{Matricule}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>CIN:</label>
                                                <input type="number" class="form-control" th:field="*{cin}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Numéro CNSS:</label>
                                                <input type="number" class="form-control" th:field="*{numcnss}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Catégorie:</label>
                                                <input type="number" class="form-control" th:field="*{Categorie}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Échelon:</label>
                                                <input type="number" class="form-control" th:field="*{Echelon}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Salaire de base:</label>
                                                <input type="number" class="form-control" th:field="*{salairedebase}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Taux horaire:</label>
                                                <input type="number" class="form-control" th:field="*{Tauxhoraire}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Prime:</label>
                                                <input type="number" class="form-control" th:field="*{prime}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Heures supplémentaires:</label>
                                                <input type="number" class="form-control" th:field="*{heuresuplemaentaire}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Congé annuel:</label>
                                                <input type="number" class="form-control" th:field="*{congeeAnnuel}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Retenue CNSS:</label>
                                                <input type="number" class="form-control" th:field="*{retenueCNSS}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Salaire brut:</label>
                                                <input type="number" class="form-control" th:field="*{salairebrut}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Déductions:</label>
                                                <input type="number" class="form-control" th:field="*{deductions}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Contribution sociale:</label>
                                                <input type="number" class="form-control" th:field="*{contributionsociale}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Salaire net:</label>
                                                <input type="number" class="form-control" th:field="*{salairenet}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Avance:</label>
                                                <input type="number" class="form-control" th:field="*{avance}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Net à payer:</label>
                                                <input type="number" class="form-control" th:field="*{netapayer}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Mode de paiement:</label>
                                                <input type="text" class="form-control" th:field="*{modedepaimenet}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Numéro de compte:</label>
                                                <input type="number" class="form-control" th:field="*{numcompte}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Intitulé banque:</label>
                                                <input type="text" class="form-control" th:field="*{intitulebanque}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>Congé pris par mois:</label>
                                                <input type="number" class="form-control" th:field="*{congeprisparmois}">
                                            </div>
                                            <div class="col-md-6">
                                                <label>Solde conge:</label>
                                                <input type="number" class="form-control" th:field="*{soldeconge}">
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label>nombre d'heure d'absence:</label>
                                                <input type="number" class="form-control" th:field="*{nombredheuredabsence}">
                                            </div>

                                        </div>
                                        <input type="submit" value="Enregistrer" class="btn btn-primary">
                                    </form>
-->
                                    <!-- Ajoutez ces liens dans la section head de votre HTML -->

                                    <form th:action="@{/reglementEnseignant/add}" th:object="${reglement}" method="post">
                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Titre:</label>
                                                <input type="text" class="form-control" th:field="*{titre}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Année:</label>
                                                <input type="text" class="form-control" th:field="*{annee}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Mois de paiement:</label>
                                                <input type="text" class="form-control" th:field="*{moisdepais}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Date de paiement:</label>
                                                <input type="text" class="form-control" th:field="*{datedepaimenet}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Catégorie:</label>
                                                <input type="number" class="form-control" th:field="*{Categorie}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>CIN:</label>
                                                <input type="number" class="form-control" th:field="*{cin}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Numéro CNSS:</label>
                                                <input type="number" class="form-control" th:field="*{numcnss}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Échelon:</label>
                                                <input type="number" class="form-control" th:field="*{Echelon}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Matricule:</label>
                                                <input type="number" class="form-control" th:field="*{Matricule}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Salaire de base:</label>
                                                <input type="number" class="form-control" th:field="*{salairedebase}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Taux horaire:</label>
                                                <input type="number" class="form-control" th:field="*{Tauxhoraire}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Prime:</label>
                                                <input type="number" class="form-control" th:field="*{prime}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Heures supplémentaires:</label>
                                                <input type="number" class="form-control" th:field="*{heuresuplemaentaire}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Congé annuel:</label>
                                                <input type="number" class="form-control" th:field="*{congeeAnnuel}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Retenue CNSS:</label>
                                                <input type="number" class="form-control" th:field="*{retenueCNSS}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Salaire brut:</label>
                                                <input type="number" class="form-control" th:field="*{salairebrut}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Déductions:</label>
                                                <input type="number" class="form-control" th:field="*{deductions}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Contribution sociale:</label>
                                                <input type="number" class="form-control" th:field="*{contributionsociale}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Salaire net:</label>
                                                <input type="number" class="form-control" th:field="*{salairenet}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Avance:</label>
                                                <input type="number" class="form-control" th:field="*{avance}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Net à payer:</label>
                                                <input type="number" class="form-control" th:field="*{netapayer}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Mode de paiement:</label>
                                                <input type="text" class="form-control" th:field="*{modedepaimenet}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Numéro de compte:</label>
                                                <input type="number" class="form-control" th:field="*{numcompte}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Intitulé banque:</label>
                                                <input type="text" class="form-control" th:field="*{intitulebanque}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-3">
                                                <label>Congé pris par mois:</label>
                                                <input type="number" class="form-control" th:field="*{congeprisparmois}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Solde conge:</label>
                                                <input type="number" class="form-control" th:field="*{soldeconge}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>nombre d'heure d'absence:</label>
                                                <input type="number" class="form-control" th:field="*{nombredheuredabsence}">
                                            </div>
                                            <div class="col-md-3">
                                                <label>Nombre d'heure supplémentaires:</label>
                                                <input type="number" class="form-control" th:field="*{heuresuplemaentaire}">
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-md-6">
                                                <label for="reglement" class="col-lg-4 col-form-label" th:text="#{label.emailenseignant}"></label>
                                                <div class="col-lg-6">
                                                    <select name="userid" class="form-control" >
                                                        <option disabled selected value> -- select an option -- </option>
                                                        <option  th:each="pr: ${users}" th:value="${pr.id}" th:text="${pr.email}" />
                                                    </select>
                                                </div>
                                            </div>
                                        </div>

                                        <input type="submit" value="Enregistrer" class="btn btn-primary">
                                    </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- #/ container -->
</div>

<!--**********************************
    Content body end
***********************************-->


<!--**********************************
    Footer start
***********************************-->
<div th:replace="fragments/footerBack :: footer"/>
<!--**********************************
    Footer end
***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/validation/jquery.validate.min.js}"></script>
<script th:src="@{/plugins/validation/jquery.validate-init.js}"></script>


</body>

</html>