<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>E-Shopping - Centre commercial En ligne</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" th:href="@{/images/favicon.png}">
    <!-- Custom Stylesheet -->
    <link th:href="@{/css/style.css}" rel="stylesheet">
    <style>
        /* CSS personnalisé pour le formulaire */
        .form-group.row {
            margin-bottom: 15px;
        }
    </style>

</head>

<body>

<!--*******************
    Preloader start
********************-->
<div id="preloader">
    <div class="loader">
        <svg class="circular" viewBox="25 25 50 50">
            <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
        </svg>
    </div>
</div>
<!--*******************
    Preloader end
********************-->


<!--**********************************
    Main wrapper start
***********************************-->
<div id="main-wrapper">

    <!--**********************************
        Nav header start
    ***********************************-->
    <div th:replace="fragments/navbarBack :: navbar"/>
    <!--**********************************
        Nav header end
    ***********************************-->

    <!--**********************************
        Header start
    ***********************************-->
    <div th:replace="fragments/headerBack :: header"/>
    <!--**********************************
        Header end ti-comment-alt
    ***********************************-->

    <!--**********************************
        Sidebar start
    ***********************************-->
    <div th:replace="fragments/sidebarBack :: sidebar"/>
    <!--**********************************
        Sidebar end
    ***********************************-->

    <!--**********************************
        Content body start
    ***********************************-->
    <div class="content-body">

        <div class="row page-titles mx-0">
            <div class="col p-md-0">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a th:href="@{/dashboard}"  th:text="#{label.dashboard}"></a></li>
                    <li class="breadcrumb-item active"><a th:href="@{/Professeur/listProfesseur}"  th:text="#{label.listprofesseur}"></a></li>
                    <li class="breadcrumb-item active"><a href=""  th:text="#{label.addprofesseur}"></a></li>
                </ol>
            </div>
        </div>
        <!-- row -->

        <div class="container-fluid">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="form-validation">
                               <!-- <form class="form-valide" th:action="@{/users/addProfesseur}" th:object="${user}" method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-name" th:text="#{label.email}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text"  th:field="*{email}" class="form-control" id="val-name" name="val-username"  >
                                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-email" th:text="#{label.password}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input  type="text"  th:field="*{password}" class="form-control" id="val-email" name="val-email" >
                                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-address" th:text="#{label.userName}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text"  th:field="*{username}" class="form-control" id="val-address" name="val-address" >
                                            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-address" th:text="#{label.adresse}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text"  th:field="*{adresse}" class="form-control" id="val-address" name="val-address" >
                                            <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-phone" th:text="#{label.nom}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text"  th:field="*{nom}" class="form-control" id="val-phone" name="val-phone" >
                                            <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-phone" th:text="#{label.prenom}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text"  th:field="*{prenom}" class="form-control" id="val-phone" name="val-phone" >
                                            <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-phone" th:text="#{label.genre}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text"  th:field="*{genre}" class="form-control" id="val-phone" name="val-phone" >
                                            <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-phone" th:text="#{label.tel}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="number"  th:field="*{tel}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-phone" th:text="#{label.specialite}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text"  th:field="*{specialite}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('specialite')}" th:errors="*{specialite}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-phone" th:text="#{label.biographie}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="text"  th:field="*{biographie}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('biographie')}" th:errors="*{biographie}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-phone" th:text="#{label.salaire}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="number"  th:field="*{salaire}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('salaire')}" th:errors="*{salaire}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-phone" th:text="#{label.age}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input type="number"  th:field="*{age}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <label class="col-lg-4 col-form-label" for="val-phone" th:text="#{label.photo}"> <span class="text-danger">*</span>
                                        </label>
                                        <div class="col-lg-6">
                                            <input id="input-file" type="file" name="files" multiple/>
                                            <span th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}" class="text-danger"></span>
                                        </div>
                                    </div>



                                    <div class="form-group row">
                                        <div class="col-lg-8 ml-auto">
                                            <input type="submit" class="btn btn-primary" value="Ajouter Professeur">
                                        </div>
                                    </div>
                                </form>-->
                                <form class="form-valide" th:action="@{/users/addProfesseur}" th:object="${user}" method="post" enctype="multipart/form-data">
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="val-name" th:text="#{label.email}"> <span class="text-danger">*</span></label>
                                            <input type="text" th:field="*{email}" class="form-control" id="val-name" name="val-username">
                                            <span th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="val-email" th:text="#{label.password}"> <span class="text-danger">*</span></label>
                                            <input type="text" th:field="*{password}" class="form-control" id="val-email" name="val-email">
                                            <span th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="val-address" th:text="#{label.userName}"> <span class="text-danger">*</span></label>
                                            <input type="text" th:field="*{username}" class="form-control" id="val-address" name="val-address">
                                            <span th:if="${#fields.hasErrors('username')}" th:errors="*{username}" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="val-address" th:text="#{label.adresse}"> <span class="text-danger">*</span></label>
                                            <input type="text" th:field="*{adresse}" class="form-control" id="val-address" name="val-address">
                                            <span th:if="${#fields.hasErrors('adresse')}" th:errors="*{adresse}" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="val-phone" th:text="#{label.nom}"> <span class="text-danger">*</span></label>
                                            <input type="text" th:field="*{nom}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="val-phone" th:text="#{label.prenom}"> <span class="text-danger">*</span></label>
                                            <input type="text" th:field="*{prenom}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="val-phone" th:text="#{label.genre}"> <span class="text-danger">*</span></label>
                                            <input type="text" th:field="*{genre}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="val-phone" th:text="#{label.tel}"> <span class="text-danger">*</span></label>
                                            <input type="number" th:field="*{tel}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('tel')}" th:errors="*{tel}" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="val-phone" th:text="#{label.specialite}"> <span class="text-danger">*</span></label>
                                            <input type="text" th:field="*{specialite}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('specialite')}" th:errors="*{specialite}" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="val-phone" th:text="#{label.biographie}"> <span class="text-danger">*</span></label>
                                            <input type="text" th:field="*{biographie}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('biographie')}" th:errors="*{biographie}" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="val-phone" th:text="#{label.salaire}"> <span class="text-danger">*</span></label>
                                            <input type="number" th:field="*{salaire}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('salaire')}" th:errors="*{salaire}" class="text-danger"></span>
                                        </div>
                                        <div class="col-md-6">
                                            <label for="val-phone" th:text="#{label.age}"> <span class="text-danger">*</span></label>
                                            <input type="text" th:field="*{age}" class="form-control" id="val-phone" name="val-phone">
                                            <span th:if="${#fields.hasErrors('age')}" th:errors="*{age}" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="form-group row">
                                        <div class="col-md-6">
                                            <label for="val-phone" th:text="#{label.photo}"> <span class="text-danger">*</span></label>
                                            <input id="input-file" type="file" name="files" multiple/>
                                            <span th:if="${#fields.hasErrors('photo')}" th:errors="*{photo}" class="text-danger"></span>
                                        </div>
                                    </div>


                                    <div class="form-group row">
                                        <div class="col-lg-8 ml-auto">
                                            <input type="submit" class="btn btn-primary" value="Ajouter Professeur">
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- #/ container -->
    </div>
    <!--**********************************
        Content body end
    ***********************************-->


    <!--**********************************
        Footer start
    ***********************************-->
    <div th:replace="fragments/footerBack :: footer"/>
    <!--**********************************
        Footer end
    ***********************************-->
</div>
<!--**********************************
    Main wrapper end
***********************************-->

<!--**********************************
    Scripts
***********************************-->
<script th:src="@{/plugins/common/common.min.js}"></script>
<script th:src="@{/js/custom.min.js}"></script>
<script th:src="@{/js/settings.js}"></script>
<script th:src="@{/js/gleek.js}"></script>
<script th:src="@{/js/styleSwitcher.js}"></script>

<script th:src="@{/plugins/validation/jquery.validate.min.js}"></script>
<script th:src="@{/plugins/validation/jquery.validate-init.js}"></script>


</body>

</html>
